<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="admin-head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Liora Admin</title>

    <!-- plugins:css (StarAdmin vendors) -->
    <link rel="stylesheet" href="/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/admin/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
    <!-- End plugins:css -->

    <!-- Plugin css for page (optional) -->
    <link rel="stylesheet" href="/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for page -->

    <!-- inject:css (StarAdmin main style) -->
    <link rel="stylesheet" href="/admin/css/style.css">
    <!-- endinject -->

    <!-- Project custom styles (optional) -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-style.css}">
    <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>

</html>